<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>141562512802-ue07ensqf2s8gkk647r8jqfjtvttofsb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.141562512802-ue07ensqf2s8gkk647r8jqfjtvttofsb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>141562512802-rlt98qep03g3btirrqurpspqg9605bhr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD-Gwa8zEPL8CrJeNSCSLvh-TD7zA4Gj0g</string>
	<key>GCM_SENDER_ID</key>
	<string>141562512802</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.icollekt</string>
	<key>PROJECT_ID</key>
	<string>icollekt-f5dc5</string>
	<key>STORAGE_BUCKET</key>
	<string>icollekt-f5dc5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:141562512802:ios:a62329787d54b86eae1efb</string>
	<key>DATABASE_URL</key>
	<string>https://icollekt-f5dc5-default-rtdb.firebaseio.com</string>
</dict>
</plist>